
<div class="login-container">
    <label for="name"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="name" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <p><input type="checkbox" checked="checked" name="remember"> Remember me for this month.</p>
    <button type="submit">Login</button>
</div>
<link rel="stylesheet" href="../css/login.css">
<script src="/js/login.js"></script>