<nav class="text" role="navigation">

    
    <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="/">Pro typer</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/">Type now</a></li>
    </ul>

</nav>