
<div class="signup-container">
    <label for="name"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="name" required>
    <label for="name"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <label for="password"><b>Confirm Password</b></label>
    <label for="password" id="passworderror"></label>
    <input type="password" placeholder="Enter Password" name="cpassword" required>
    <p><input type="checkbox" name="terms of service"> I have read and accepted the <a>terms of service</a></p>
    <p><input type="checkbox" checked="checked" name="remember"> Remember me for this month.</p>
    <button type="submit">Create Account</button>
</div>
<link rel="stylesheet" href="../css/login.css">
<script src="/js/signup.js"></script>