body {
    background-color : #282845;
    color: #eeefee;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

#subtitle {
    font-weight: 200;
}

#title {
    font-weight: 900;
}

#text {
    font-weight: 400;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.34);
    transition-duration: 500ms;
}

nav ul li a:hover {
    background-color: #02f7ff;
}

footer {
    background-color: #010101;
    padding: 100px;
    bottom: 10px;
}