<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to testing</title>
    <% include ../partials/head%>
</head>
<body class="container">

<header>
    <% include ../partials/nav %>
</header>

<main>
    <h2><%= title %></h3>
    <p>If you think this is a problem please reach out to support!</p>
    /* Have to insert a button to go to the home page*/
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>