<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to testing</title>
    <% include ../partials/head%>
</head>
<body class="container">

<header>
    <% include ../partials/nav %>
</header>

<main>
    <% include ../partials/login %>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>